@use '../../lib/service.scss' as s;
@use '../../lib/spotify.scss' as spotify;

@use '../../component/nav/style.scss' as nav;

.add-button {
    display: grid;
    grid-template-columns: 92px 1fr;
    align-items: center;
    gap: s.space(6);
    color: s.color(light);
    font-size: 18px;
}