@use '../../lib/service.scss' as s;
@forward '../../lib/service.scss';


@use '../../component/nav/style.scss' as nav;

main {
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    margin: s.space(8);
}



// .title {
//     color: s.color(blue);
//     font-size:  28px;
//     font-weight: 700;
//     margin: s.space(8);
// }

.form {
    display: flex;
    flex-direction:  column;
    padding: s.space(4);
    margin-top: s.space(8);
    gap: s.space(4);
    
    border: 1px solid s.color(light);
    border-radius: 8px;
    box-shadow: 0 0 10px 5px s.color(light);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color(light);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: s.space(6);
    }

    &__label {
        font-size: 14px;
    }

    &__input {
        border: 1px solid s.color(light);
        padding: s.space(2);
    }

    &__field {
      display: flex;
      flex-direction: column;
      gap: s.space(2);
      width: 100%;  
    }

    &__button {
        border: 1px solid s.color(light);
        padding: s.space(2);
        border-radius: 4px;
        background-color: s.color(blue);
        color: s.color(white);          
}
}

.user-list {
    li {
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
    }
}

.link {
    display: inline;
    padding: s.space(2);
    margin: s.space(0);
    margin-left: s.space(2);
    // color: s.color(blue)
}