{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}


<form class="form form--product form--alert">
  <div>
    <div class="form__title form__title--noline">{{data.message}}</div>
    <div class="alert-text">{{data.info}}</div>
  </div>
  <a href="{{data.link}}" class="form__button form__button--primary link">Повернутися назад</a>
   {{!-- <a href="/product-list" class="form__button form__button--primary link">Повернутися назад</a> --}}
</form>



{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}