@use '../../lib/service.scss' as s;
@forward '../../lib/service.scss';

@use '../index/style.scss';
@forward '../index/style.scss';

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
    margin: s.space(4);
}

.form-card {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(4);
 
    width: 100%;
    max-width: 1000px;
    border: 1px solid s.color(light);
    border-radius: 20px;
    box-shadow: 0 0 20px s.color(light);

    &__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: s.space(4);
    }
}