{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
  <h1 class="title">CRUD functional</h1>
  <div class="link_block">
    <a href="/user" class="link">User
      <img src="/img/png/arrow_right.png" alt="follow" class="link_img">
    </a>
    <a href="/product-create" class="link">Product
      <img src="/img/png/arrow_right.png" alt="follow" class="link_img">
    </a>
    <a href="/purchase" class="link">Purchase<img src="/img/png/arrow_right.png" alt="follow" class="link_img"></a>
    <a href="/spotify" class="link">Spotify<img src="/img/png/arrow_right.png" alt="follow" class="link_img"></a>
  </div>
</main>


{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}