{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
  {{>heading title="Інформація про замовлення"}}
  
  {{#with data.purchase}}
    <form method="POST" action="/purchase-update?id={{id}}" class="form-card">
  
    <div>ID: {{id}}</div>

    {{>divider}}
    <div class="form-card__section">
      {{>field label="Ім'я" name="firstname" value=firstname type=text readonly=true noBorder=true grey=true}}
      {{>field label="Прізвище" name="lastname" value=lastname type=text readonly=true noBorder=true grey=true}}
      {{>field label="Мобільний телефон" name="phone" value=phone type=number readonly=true noBorder=true grey=true}}
      {{>field label="Електронна пошта" name="email" value=email type=email readonly=true noBorder=true grey=true}}
    </div>

    {{>divider}}

    {{>field label="Назва товару" name="product.title" value=product.title type=text readonly=true noBorder=true grey=true}}
    {{>field label="Коментар" name="comment" value=comment type=text readonly=true noBorder=true grey=true}}

    {{>divider}}

    <div class="form-card__section">
      {{>field label="Вартість товарів" value=productPrice name="productPrice" type=number readonly=true noBorder=true grey=true}}
      {{>field label="Сумма до сплати" name="totalPrice" value=totalPrice type=number readonly=true noBorder=true grey=true}}
      {{>field label="Вартість доставки" value=deliveryPrice name="deliveryPrice" type=number readonly=true noBorder=true grey=true}}
      {{>field label="Нараховані бонуси" name="bonus" value=bonus type=number readonly=true noBorder=true grey=true}}
    </div>

      {{>button text="Змінити дані"}}
    </form>
  {{/with}}

  

</main>


{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}