{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
{{>nav}}
<div class="success">
  <h1>{{info}}</h1>
  <a href="/{{page}}" class="success__link">Повернутися назад</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}