@use '../../lib/service.scss' as s;
@use '../../lib/var.scss' as var;
@use '../../component/nav/style.scss' as nav;

.success {
    display: flex;
    flex-direction: column;
    gap: s.space(4);
    margin: s.space(8);

    &__link {
        color: var.color(blue)
    }
}